@font-face {
  font-family: "Canela Text";
  src: url("./fonts/CanelaText-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela Text";
  src: url("./fonts/CanelaText-Regular.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela Text";
  src: url("./fonts/CanelaText-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela Text";
  src: url("./fonts/CanelaText-RegularNo2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela Text";
  src: url("./fonts/CanelaText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/inter-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  background-color:#081110;
  color: #fff;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  width: 100%;
  max-width: 1330px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.max_container{
  width: 100%;
  max-width: 1550px;
  margin-right: auto;
  margin-left: auto;

}
ul{
  padding-left: 0;
  list-style: none;
}

a{
  text-decoration: none;
}
.header{
 padding-top: 28px;
 padding-bottom: 28px;
}
.header__start{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list{
  gap: 40px;
  display: flex;
}
.header__nav-list__item-link{
  color: rgba(254.50, 255, 252.88, 0.72);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.60px;
}

.header__nav-list__item-link:hover{
  color: white;
  border-bottom: 1px solid rgb(250, 250, 2);
}
.brend__btn{
  color: white;
  font-weight: 700;
  line-height: 19.20px;
  padding: 12px 40px; 
  background-color: #D6EF0E; 
  border-radius: 8px;
  border: #D6EF0E;
  border: 1px #D6EF0E solid;
}
.brend__btn:hover{
  color: #D6EF0E; 
  border: 1px #D6EF0E solid;
  background-color: #081110;
}
.hero{
  color: #fff;
}
.hero{
  padding-top: 92px;
  padding-bottom: 92px;
}
.hero__left-title{
  font-size: 64px;
  font-weight: 500;
  line-height: 76.80px;
  margin-bottom: 20px;
  width: 530px;
  font-family: Canela;
}
.hero__left-title span{
  color: #D6EF0E;
}
.hero__left-text{
  font-weight: 400;
  line-height: 25.60px;
  width: 544px;
  margin-bottom: 40px;
}
.brend__btn:nth-child(3){
  margin-right: 36px;
  margin-bottom: 72px;
}
.hero__lefti-list{
  display: flex;
  gap: 94px;
  align-items: center;
}
.hero__left-list__item{
  padding-right: 28px;
  font-family: Canela;
  border-right: 1px solid #D6EF0E;

}
.hero__left-list__item:nth-child(3){
  border: 0;
}
.hero__left-list__item-b{
  color: #D6EF0E;
  font-size: 48px;
  font-weight: 500;
  line-height: 57.60px;
  margin-bottom: 8px;
}
.hero__left-list__item-b span{
  color: #fff;
}
.hero__left-list__item-text{
  color: #FFFFFD;
  line-height: 25.60px;
}
.hero__start{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.hero__right-img{
  margin-right: 51px;
}
.hero__right-card{
  width: 304px;
  padding: 20px;
  border-top: 1px solid #D6EF0E;
  border-radius: 10px;
  background-color: #06112c;
}
.hero__right-card__group{
  display: flex;
  justify-content: space-between;
}
.hero__right-card__group__text{
  padding-bottom: 8px;
  color: #D6EF0E;
}
.hero__right-card__group__left span{
  color: #fff;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 19.20px;
}
.hero__right-card__btn{
  width: 100%;
  margin-top: 24px;
  padding: 12px 0;
  background-color: #06112c;
  color: #D6EF0E;
  border-radius: 5px;
  border: 1px solid #D6EF0E;
}
.hero__rigth{
  position: relative;
}
.hero__right-card{
  position: absolute;
  bottom: -70px;
  right: 0;
}

.amazing{
  padding-top: 92px;
  padding-bottom: 92px;
}
.amazing_first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;

}
.amazing__title{
  font-size: 48px;
  font-weight: 500;
  line-height: 57.60px;
  margin-bottom: 64px;
  width: 520px;
  font-family: Canela;
}
.amazing__title span{
  color: #D6EF0E;
}
.amazing__list{
  display: flex;
  justify-content: space-between;
}
.amazing__list-item{
  padding: 20px;
  background: #131E3A; 
  border-radius: 28px
}
.amazing__list-item__the-first{
  margin-top: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amazing__list-item__the-first__title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28.80px;
  margin-right: 42px;
}
.amazing__list-item__the-first__text{
  font-weight: 700;
  line-height: 19.20px;
}
.amazing__list-item__second{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.amazing__list-item__second-group__clock{
  display: flex;
  align-items: center;
  margin-top: 6px;
  gap: 12px;
}
.btn{
  padding: 12px 40px;
  font-weight: 700;
  line-height: 19.20px;
  color: #D6EF0E;
  border-radius: 8px; 
  border: 1px #D6EF0E solid;
  background-color: #06112c
}
.btn:hover{
  background-color: #D6EF0E;
  color: #fff;
}

.Create-and-sell{
  padding-top: 92px;
  padding-bottom: 92px;
}
.Create-and-sell__start{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Create-and-sell__card-title{
  font-size: 48px;
  font-weight: 500;
  line-height: 57.60px;
  margin-bottom: 20px;
  width: 406px;
  font-family: Canela;
}
.Create-and-sell__card-title span{
  color: #D6EF0E;
}
.Create-and-sell__card-text{
  width: 426px;
  margin-bottom: 40px;
  ine-height: 25.60px;
}

.popular__artists{
  padding-top: 92px;
  padding-bottom: 92px;
}
.popular__artists-start{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular__artists-start__title{
  font-size: 48px;
  font-weight: 500;
  line-height: 57.60px;
  width: 350px;
  font-family: Canela;
  margin-bottom: 64px;
}
.popular__artists-start__title span{
  color: #D6EF0E
}
.popular__artists-img{
  display: flex;
  justify-content: start;
  align-items: start;
  align-items: start;
}
.popular__artists-img__group{
  /* display: flex; */
}
.popular__artists-img__group img{
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular__artists-img{
  position: relative;
}
.popular__artists-card{
  position: absolute;
  display: flex;
  align-items: start;
  top: 240px;
  left: 24px;
}
.popular__artists-card_two{
  position: absolute;
  display: flex;
  align-items: start;
  top: 240px;
  left: 352px;
}
.popular__artists-card-Four{
  position: absolute;
  display: flex;
  align-items: start;
  top: 570px;
  left: 24px;
}
.popular__artists-card-Five{
  position: absolute;
  display: flex;
  align-items: start;
  top: 570px;
  left: 462px;
}
.popular__artists-card__Three{
  position: absolute;
  display: flex;
  align-items: start;
  gap: 10px;
  top: 580px;
  left: 912px;
}
.popular__artists-card__group-text{
  font-size: 14px;
  line-height: 22.40px;
  margin-bottom: 5px;
}
.popular__artists-card__group-title{
  font-weight: 700;
  line-height: 19.20px;
}

.subscribe{
  padding-top: 92px;
  padding-bottom: 92px;
}
.subscribe__start{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe__card-title{
  width: 520px;
  font-size: 48px;
  font-family: Canela;
  font-weight: 500;
  line-height: 57.60px;
  margin-bottom: 20px;
}
.subscribe__card-title span {
  color: #D6EF0E;
}
.subscribe__card-text{
  width: 520px;
  margin-bottom: 40px;
  line-height: 25.60px
}
.Subscribe__card-inp{
  width: 520px;
  padding: 16px 0 16px 24px;
  line-height: 25.60px;
  background-color: #131E3A; 
  border-radius: 8px; 
  border: 1px solid #131E3A;
}
.Subscribe__card-btn{
  padding: 12px 40px;
  margin-left: -139px;
  background-color: #D6EF0E;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #D6EF0E;
}
.footer{
  padding-top: 92px;
  padding-bottom: 92px;
}
.footer__start{
  display: flex;
  padding-bottom: 48px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #131E3A;
}
.footer__start-left__text{
  line-height: 25.60px;
  margin-bottom: 24px;
  width: 272px;
}
.footer__right{
  display: flex;
  gap: 94px;
}
.footer__right-title{
  margin-bottom: 24px;
  font-size: 20px;  
  font-weight: 700;
  line-height: 24px;
}
.footer__right-list__item{
  margin-bottom: 8px;
}
.footer__right-list__item a{
  color: #FFFFFD;
}
.footer__end{
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.footer__end-link{
  color: #fff;
}
.footer__end-link span{
  margin-left: 10px;
}