@font-face {
  font-display: swab;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SpaceMono-Regular.ttf') format('woff2');
}
@font-face {
  font-display: swab;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpaceMono-Bold.ttf") format('woff2');
}
@font-face {
  font-display: swab;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/LexendDeca-Regular.ttf') format('woff2');
}