.faqs {
  padding-bottom: 120px;
  &__title {
    text-align: center;
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 64px;
    line-height: 48px;
    color: $primary-title-color;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    &-title {
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      color: $primary-title-color;
    }
  }
  &__card {
    padding: 32px 40px;
    background-color: #F2F5F9;
    margin-bottom: 16px;
    &-group {
      display: flex;
      justify-content: space-between;
    }
    &-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      color: $primary-title-color;
    }
    &-text {
      max-width: 650px;
      margin-top: 24px;
      font-size: 15px;
      font-family: Lexend Deca;
      line-height: 25px;
    }
  }
}
@media only screen and (max-width: 770px) {
  .faqs {
    &__wrapper {
      flex-direction: column;
      &-title {
        text-align: center;
        margin-bottom: 32px;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .faqs {
    padding-bottom: 0px;
    &__title {
      text-align: center;
      font-size: 30px; 
      font-weight: 700;
      margin-bottom: 40px;
      line-height: 32px;
    }
    &__wrapper {
      &-title {
        font-size: 24px;
        line-height: 28px;
      }
    }
    &__card {
      padding: 32px 30px;
      &-group {
        gap: 10px;
      }
      &-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        color: $primary-title-color;
      }
    }
  }
}