.header {
  width: 100%;
  // position: relative;
  // position: fixed;
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: $primary-color;
  z-index: 222222;
  &__start {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    gap: 32px;
    flex: 1 1 0%;
    &-link {
      color: $primary-text-color;
      font-size: 15px;
      font-weight: 700;
      line-height: 25px;
    }
    &-link:hover {
      color: $primary-btn-color;
      border-bottom: 2px solid $primary-btn-color;
    }
    &-active{
      color: $primary-btn-color;
      border-bottom: 3px solid $primary-btn-color;
    }
  }
  &__btn {
    color: $primary-color;
    padding: 12px 39px;
    border: 2px solid $primary-btn-color;
    background-color: $primary-btn-color;
  }
  &__btn:hover {
    color: $primary-btn-color;
    background-color: transparent;
  }
  &__btn:active {
    background-color: $primary-title-color;
  }
  &__menu {
    height: 100%;
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    border: none;
    &-span {
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: $primary-btn-color;
      left: 5px;
      transition: transform .5s, opacity .5s,  background-color .5s;
    }
    &-span:nth-child(1) {
      transform: translateY(-10px);
    }
    &-span:nth-child(3) {
      transform: translateY(10px);
    }
  }
  .open &__menu-span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  .open &__menu-span:nth-child(2) {
    opacity: 0;
  }
  .open &__menu-span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }
} 
@media only screen and (max-width: 617px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
    height: 100%;
    &__img {
      text-align: center;
      margin-left: 70px;
    }
    &__menu {
      display: block;
    }
    &__right {
      position: relative;
      height: 100vh;
      padding-right: 20px;
      transition: transform .5s;
      max-width: 300px;
      position: absolute;
      display: block;
      left: -300px;
      top: 75px;
      height: 100%;
      background-color: $primary-menu-color;
      padding: 100px 20px 20px 20px;
    }
    &__list {
      display: block;
      flex: 1 1 0%;
      &-link {
        width: 90px;
        color: $primary-color;
        font-size: 18px;
        display: block;
        margin-bottom: 24px;
      }
    }
    .open &__right{
      transform: translateX(100%);
    }
    &__btn {
      position: absolute;
      width: 93%;
      left: 10px;
      bottom: 90px;
    }
  } 
}
@media only screen and (max-width: 314px) {
  .header {
    margin-left: 0;
  }
}