.locations {
  padding-top: 110px;
  padding-bottom: 110px;
  &__start {
    width: 100%;
    position: relative;
    &-btn {
      position: relative;
      position: absolute;
      left: 800px;
      top: 260px;
      padding: 18px 40px;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      background-color: $primary-btn-color;
      color: $primary-title-color;
      border: 2px solid $primary-btn-color;
    }
    &-btn:nth-child(3) {
      left: 400px;
      top: 0px;
    }
    &-btn:nth-child(2) {
      left: 100px;
      top: 60px;
    }
    &-btn:nth-child(4) {
      left: 870px;
      top: 70px;
    }
    &-span {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $primary-btn-color;
      transform: translateY(0) rotate(45deg);
      left: 80px;
      bottom: -16px;
    }
    &-img1{
      display: none;
    }
  }
  &__btn {
    display: none;
  }
  &__end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    &-title {
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      color: $primary-title-color;
      max-width: 350px;
    }
    &-text {
      max-width: 445px;
      font-size: 15px;
      font-family: Lexend Deca;
      line-height: 25px;
    }
  }
}
@media only screen and (max-width: 1130px) {
  .locations {
    &__start {
      &-btn {
        left: 700px;
        top: 260px;
      }
      &-btn:nth-child(3) {
        left: 400px;
        top: 0px;
      }
      &-btn:nth-child(2) {
        left: 100px;
        top: 60px;
      }
      &-btn:nth-child(4) {
        left: 770px;
        top: 70px;
      }
    }
  }
}

@media only screen and (max-width: 1030px) {
  .locations {
    &__start {
      &-btn {
        left: 600px;
        top: 260px;
      }
      &-btn:nth-child(3) {
        left: 300px;
        top: 0px;
      }
      &-btn:nth-child(2) {
        left: 80px;
        top: 60px;
      }
      &-btn:nth-child(4) {
        left: 600px;
        top: 70px;
      }
    }
    &__end {
      flex-direction: column;
      text-align: center;
      gap: 41px;
    }
  }
}
@media only screen and (max-width: 890px) {
  .locations {
    &__start {
      &-btn {
        left: 550px;
        top: 200px;
      }
      &-btn:nth-child(3) {
        left: 250px;
        top: -20px;
      }
      &-btn:nth-child(2) {
        left: 50px;
        top: 20px;
      }
      &-btn:nth-child(4) {
        left: 500px;
        top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .locations {
    &__start {
      margin-bottom: 100px;
      &-btn {
        display: none;
      }
      &-img {
        display: none;
      }
      &-img1 {
        text-align: center;
        display: block;
        margin: 0 auto;
      }
    }
    &__btn {
      margin-top: 80px;
      display: block;
      flex-direction: column;
      &-btn {
        width: 100%;
        padding-top: 22px;padding-bottom: 22px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        color: $primary-title-color;
        background: rgba(252.40, 182.97, 42.94, 0.15);
        border: none;
        margin-top: 20px;
      }
    }
  }
}
@media only screen and (max-width: 890px) {
  .locations {
    padding-top: 50px;
    padding-bottom: 50px;
    &__end {
      margin-top: 40px;
      &-title {
        font-size: 32px;
        line-height: 32px;
      }
      &-text {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}